/* General setup */

html {
  font-size: 10px;
  margin: 0;
  font-family: "Oswald";
}

body {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
}

/* Typography */

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.4rem;
}

p {
  font-size: 1.4rem;
  line-height: 1.6;
  word-spacing: 0.6rem;
  font-family: 'Poppins';
}

@font-face {
    font-family: 'Oswald';
    src: url('font-styles/Oswald-Bold.woff2') format('woff2'),
        url('font-styles/Oswald-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('font-styles/Poppins-Regular.woff2') format('woff2'),
        url('font-styles/Poppins-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

